<div class="tab-pane" id="tab-second">
  <% if (!pdfs.length) { %>
    <form class="dropzone" id="pdfUploadDropzone" enctype="multipart/form-data"
      action="/admin/pdf/upload/<%= publisher.id %>/<%= title.id %>/<%= issue.id%>">
      <!-- Dropzone.js -->
    </form>
  <% } else { %>
    <div class="alert alert-info">
      You can only upload 1 file. To upload new one please remove the current.
    </div>
  <% } %>
  <hr />
  <div class="card bd-gray-400">
    <table class="table mg-b-0">
      <thead>
        <tr>
          <th class="tx-10-force tx-mont tx-medium">NAME</th>
          <th class="wd-5p"></th>
        </tr>
      </thead>
      <tbody>
        <% pdfs.forEach(function(pdf){ %>
        <tr>
          <td>PDF</td>
          <td class="dropdown">
            <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info">
              <i class="icon ion-more"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right pd-10">
              <nav class="nav nav-style-1 flex-column">
                <a href="<%= pdf.link%>" class="nav-link" download>Download</a>
              </nav>
            </div>
            <!-- dropdown-menu -->
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
