<!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo">
  <a href="/admin/dashboard"><span>[</span>ez<i>Waiting</i><span>]</span></a>
</div>
<div class="br-sideleft sideleft-scrollbar">
  <label class="sidebar-label pd-x-10 mg-t-20">Menu</label>
  <ul class="br-sideleft-menu">
    <li class="br-menu-item">
      <a href="/admin/dashboard" class="br-menu-link">
        <i class="menu-item-icon icon ion-ios-home-outline tx-24"></i>
        <span class="menu-item-label">Dashboard</span> </a
      ><!-- br-menu-link -->
    </li>

    <% if (req.user.userRole == 'USER_ROLE_SUPER_ADMIN') { %>
    <!-- br-menu-item -->
    <li class="br-menu-item">
      <a
        href="#"
        class="br-menu-link with-sub <% if (section == 'publisher') { %>active show-sub<% } %>"
      >
        <i class="menu-item-icon ion-person-stalker tx-20"></i>
        <span class="menu-item-label">Publisher</span> </a
      ><!-- br-menu-link -->
      <ul class="br-menu-sub">
        <li class="sub-item">
          <a
            href="/admin/publisher/create"
            class="sub-link <% if (subSection == 'publisher-create') { %>active<% } %>"
            >Create a publisher</a
          >
        </li>
        <li class="sub-item">
          <a
            href="/admin/publisher/list"
            class="sub-link <% if (subSection == 'publisher-list') { %>active<% } %>"
            >Publishers list</a
          >
        </li>
      </ul>
    </li>
    <!-- br-menu-item -->
    <li class="br-menu-item">
      <a
        href="#"
        class="br-menu-link with-sub <% if (section == 'category') { %>active show-sub<% } %>"
      >
        <i class="menu-item-icon ion-ios-copy-outline tx-20"></i>
        <span class="menu-item-label">Category</span> </a
      ><!-- br-menu-link -->
      <ul class="br-menu-sub">
        <li class="sub-item">
          <a
            href="/admin/category/create"
            class="sub-link <% if (subSection == 'category-create') { %>active<% } %>"
            >Create a category</a
          >
        </li>
        <li class="sub-item">
          <a
            href="/admin/category/list"
            class="sub-link <% if (subSection == 'category-list') { %>active<% } %>"
            >Categories list</a
          >
        </li>
      </ul>
    </li>
    <% } %>

    <!-- br-menu-item -->
    <li class="br-menu-item">
      <a
        href="#"
        class="br-menu-link with-sub <% if (section == 'title') { %>active show-sub<% } %>"
      >
        <i class="menu-item-icon ion-ios-bookmarks-outline tx-20"></i>
        <span class="menu-item-label">Title</span> </a
      ><!-- br-menu-link -->
      <ul class="br-menu-sub">
        <li class="sub-item">
          <a
            href="/admin/title/create"
            class="sub-link <% if (subSection == 'title-create') { %>active<% } %>"
            >Create a title</a
          >
        </li>
        <li class="sub-item">
          <a
            href="/admin/title/list"
            class="sub-link <% if (subSection == 'title-list') { %>active<% } %>"
            >Title's list</a
          >
        </li>
      </ul>
    </li>
    <!-- br-menu-item -->
    <li class="br-menu-item">
      <a
        href="#"
        class="br-menu-link with-sub <% if (section == 'issue') { %>active show-sub<% } %>"
      >
        <i class="menu-item-icon ion-ios-book-outline tx-20"></i>
        <span class="menu-item-label">Issue</span> </a
      ><!-- br-menu-link -->
      <ul class="br-menu-sub">
        <li class="sub-item">
          <a
            href="/admin/issue/create"
            class="sub-link <% if (subSection == 'issue-create') { %>active<% } %>"
            >Create an Issue</a
          >
        </li>
        <li class="sub-item">
          <a
            href="/admin/issue/list"
            class="sub-link <% if (subSection == 'issue-list') { %>active<% } %>"
            >Issues list</a
          >
        </li>
      </ul>
    </li>
    <!-- br-menu-item -->
    <% if (req.user.userRole == 'USER_ROLE_SUPER_ADMIN') { %>
    <li class="br-menu-item">
      <a
        href="#"
        class="br-menu-link with-sub <% if (section == 'location') { %>active show-sub<% } %>"
      >
        <i class="menu-item-icon ion-ios-location-outline tx-20"></i>
        <span class="menu-item-label">Locations</span> </a
      ><!-- br-menu-link -->
      <ul class="br-menu-sub">
        <li class="sub-item">
          <a
            href="/admin/location/create"
            class="sub-link <% if (subSection == 'location-create') { %>active<% } %>"
            >Create a location</a
          >
        </li>
        <li class="sub-item">
          <a
            href="/admin/location/list"
            class="sub-link <% if (subSection == 'location-list') { %>active<% } %>"
            >Location list</a
          >
        </li>
      </ul>
    </li>
    <!-- br-menu-item -->
    <li class="br-menu-item">
      <a
        href="#"
        class="br-menu-link with-sub <% if (section == 'user') { %>active show-sub<% } %>"
      >
        <i class="menu-item-icon ion-ios-person-outline tx-20"></i>
        <span class="menu-item-label">User</span> </a
      ><!-- br-menu-link -->
      <ul class="br-menu-sub">
        <li class="sub-item">
          <a
            href="/admin/user/create"
            class="sub-link <% if (subSection == 'user-create') { %>active<% } %>"
            >Create a User</a
          >
        </li>
        <li class="sub-item">
          <a
            href="/admin/user/list"
            class="sub-link <% if (subSection == 'user-list') { %>active<% } %>"
            >Users list</a
          >
        </li>
      </ul>
    </li>
    <% } %>
  </ul>
  <!-- br-sideleft-menu -->
</div>
<!-- br-sideleft -->
<!-- ########## END: LEFT PANEL ########## -->
