    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="index.html">ezWaiting</a>
          <span class="breadcrumb-item"><%= mainName%></span>
          <span class="breadcrumb-item active"><%= mainSubName %></span>
        </nav>
      </div><!-- br-pageheader -->

      <div class="br-pagebody">

        <!-- start you own content here -->
        <%- body %>

      </div><!-- br-pagebody -->

    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->
