<div class="br-section-wrapper">
  <h6 class="br-section-label">CATEGORIE'S LIST</h6>

  <div class="table-wrapper">
    <table id="datatable1" class="table display responsive nowrap">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% categories.forEach(function(category){ %>
        <tr>
          <td><%= category.name %></td>
          <td>
            <% if (category.isActive == true) { %> Active <% } else { %>
            Passive <% } %>
          </td>
          <td>
            <a href="/admin/category/update/<%= category.id %>">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
          </td>
          <td>
            <a class="btn-remove" href="/admin/category/delete/<%= category.id %>">
              <i class="ion-trash-a" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <!-- table-wrapper -->
</div>
<!-- br-section-wrapper -->
