<div class="br-section-wrapper">
  <h6 class="br-section-label">UPDATE CATEGORY</h6>

  <% if(errors.length){ %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% errors.forEach(function(error){ %>
        <li><%=error%></li>
        <% }); %>
      </ul>
    </div>
    <% } %>

  <form action="/admin/category/update/<%= category.id%>" method="POST">
    <div class="form-layout form-layout-1">
      <div class="row mg-b-25">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">Name: <span class="tx-danger"></span></label>
            <input class="form-control form-control-dark" type="text" name="name" placeholder="Enter firstname" value="<%= category.name%>">
          </div>
        </div><!-- col-4 -->
      </div><!-- row -->

      <div class="form-layout-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/admin/category/list" class="btn btn-secondary">Cancel</a>
      </div><!-- form-layout-footer -->
    </div><!-- form-layout -->
  </form>
</div>
