<div class="br-section-wrapper">
  <h6 class="br-section-label">files'S LIST</h6>
  <form
    class="dropzone"
    id="pdfUploadDropzone"
    enctype="multipart/form-data"
    action="/admin/location/upload"
  >
  <br>
    <!-- Dropzone.js -->
  </form>
  <div class="table-wrapper">
    <table id="datatable1" class="table display responsive nowrap">
      <thead>
        <tr>
          <th class="wd-15p">Name</th>
          <th class="wd-10p">Is Processed?</th>
          <th class="wd-10p">Update</th>
          <th class="wd-25p">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% files.forEach(function(files){ %>
        <tr>
          <td><%= files.id %></td>
          <td>
            <% if (files.isProcessed == true) { %> Yes <% } else { %> No
            <% } %>
          </td>
          <td>
            <a href="/admin/files/update/<%= files.id %>">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
          </td>
          <td>
            <a
              class="btn-remove"
              href="/admin/files/delete/<%= files.id %>"
            >
              <i class="ion-trash-a" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <!-- table-wrapper -->
</div>
<!-- br-section-wrapper -->
