<div class="br-section-wrapper">
  <h6 class="br-section-label">CREATE ISSUE</h6>

  <% if(errors.length){ %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% errors.forEach(function(error){ %>
        <li><%=error%></li>
        <% }); %>
      </ul>
    </div>
    <% } %>

  <form action="/admin/issue/create" method="POST">
    <div class="form-layout form-layout-1">
      <div class="row mg-b-25">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">Name: <span class="tx-danger">*</span></label>
            <input class="form-control form-control-dark" type="text" name="name" placeholder="Enter Name" required>
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">Live Date: <span class="tx-danger">*</span></label>
            <input class="form-control form-control-dark issueLiveDate" type="text" name="issueLiveDate" placeholder="dd-mm-yyyy" required>
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-control-label">Description: <span class="tx-danger"></span></label>
            <textarea class="form-control form-control-dark summernote" name="description" placeholder="Enter Description"></textarea>
          </div>
        </div><!-- col-4 -->

 
        <div class="col-lg-6">
          <div class="form-group">
            <label class=" form-control-label">Title: <span class="tx-danger">*</span></label>
            <select class="form-control form-control-dark select2" name="title" data-placeholder="Choose publisher..." multiple required>
              <option value="">Choose...</option>
              <% titles.forEach(function(title) { %>
                <option value="<%= title.id %>"><%= title.name %></option>
              <% }) %>
            </select>
          </div>
        </div><!-- col-6 -->
      </div><!-- row -->

      <div class="form-layout-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/admin/issue/list" class="btn btn-secondary">Cancel</a>
      </div><!-- form-layout-footer -->
    </div><!-- form-layout -->
  </form>
</div>
