<div class="br-section-wrapper">
  <h6 class="br-section-label">CREATE ISSUE</h6>

  <form action="/admin/issue/create" method="POST">
    <div class="form-layout form-layout-1">
      <div class="row mg-b-25">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">Name: <span class="tx-danger"></span></label>
            <input class="form-control form-control-dark" type="text" name="name" placeholder="Enter Name">
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">Live Date: <span class="tx-danger"></span></label>
            <input class="form-control form-control-dark" type="text" name="issueLiveDate" placeholder="Enter Date">
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-control-label">Description: <span class="tx-danger"></span></label>
            <textarea class="form-control form-control-dark summernote" name="description" placeholder="Enter Description"></textarea>
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-control-label">Status: <span class="tx-danger"></span></label>
            <select class="form-control form-control-dark select2" name="status" data-placeholder="Choose Status...">
              <option value="">Choose...</option>
              <option value="true">Active</option>
              <option value="false">Passive</option>
            </select>
          </div>
        </div><!-- col-4 -->
      </div><!-- row -->

      <div class="form-layout-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
      </div><!-- form-layout-footer -->
    </div><!-- form-layout -->
  </form>
</div>
