<div class="br-section-wrapper">
  <h6 class="br-section-label">TITLE'S LIST</h6>

  <div class="table-wrapper">
    <table id="datatable1" class="table display responsive nowrap">
      <thead>
        <tr>
          <th class="wd-15p">Name</th>
          <th class="wd-10p">Status</th>
          <th class="wd-10p">Update</th>
          <th class="wd-25p">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% titles.forEach(function(title){ %>
        <tr>
          <td><%= title.name %></td>
          <td>
            <% if (title.isActive == true) { %> Active <% } else { %>
            Passive <% } %>
          </td>
          <td>
            <a href="/admin/title/update/<%= title.id %>">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
          </td>
          <td>
            <a class="btn-remove" href="/admin/title/delete/<%= title.id %>">
              <i class="ion-trash-a" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <!-- table-wrapper -->
</div>
<!-- br-section-wrapper -->
