<body>
  <div class="d-flex align-items-center justify-content-center ht-100v">
    <form action="/auth/login" method="post">
      <div
        class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-br-primary rounded bd bd-white-1"
      >
        <div class="signin-logo tx-center tx-28 tx-bold tx-white">
          <span class="tx-normal">[</span> ez
          <span class="tx-info">Waiting</span> <span class="tx-normal">]</span>
        </div>
        <div class="tx-center mg-b-60">Admin Panel</div>

        <div class="form-group">
          <input
            type="text"
            name="email"
            class="form-control form-control-dark"
            placeholder="Enter your username"
          />
        </div>
        <!-- form-group -->
        <div class="form-group">
          <input
            type="password"
            name="password"
            class="form-control form-control-dark"
            placeholder="Enter your password"
          />
        </div>
        <!-- form-group -->
        <button type="submit" class="btn btn-info btn-block">Sign In</button>
      </div>
    </form>
    <!-- login-wrapper -->
  </div>
  <!-- d-flex -->

  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery-ui/ui/widgets/datepicker.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
